<form #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="ID" [value]="service.formData.ID">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-shopping-cart"></i>
        </div>
      </div>
      <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" placeholder="Enter Order Name" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-9">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i>Received Date</i>
          </div>
        </div>
        <input name="ReceivedDate" #ReceivedDate="ngModel" [(ngModel)]="service.formData.ReceivedDate" class="form-control" placeholder="MM/DD/YYYY" required maxlength="10" minlength="10">
      </div>
    </div>
    <div class="form-group col-md-3">
      <div class="input-group">
        <input name="Quantity" #Quantity="ngModel" [(ngModel)]="service.formData.Quantity" class="form-control" placeholder="Quantity" required maxlength="3" minlength="1" type="number" style="text-align: right;">
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit">Add</button>
  </div>
</form>
